<mat-card>
  <form [formGroup]="addArticleForm" class="form-wrapper">
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Enter title</mat-label>
        <input
          matInput
          placeholder="Hello decentralized world"
          formControlName="title"
          [disabled]="lock"
          required
        />
      </mat-form-field>
      <quill-editor
        [readOnly]="lock"
        [styles]="{ height: '300px' }"
        placeholder="Enter Text"
        [modules]="quillConfig"
        (onSelectionChanged)="onSelectionChanged($event)"
        (onContentChanged)="onContentChanged($event)"
      ></quill-editor>
      <app-add-image-button (loaded)="loaded($event)"></app-add-image-button>
      <mat-divider></mat-divider>
    </mat-card-content>
  </form>
</mat-card>
