<mat-toolbar color="primary">
  <button *ngIf="toolbarService.backButton" mat-button (click)="back()"><mat-icon>chevron_left</mat-icon></button>

  <div class="toolbar-items">
    <span>{{toolbarService.currentTitle}}</span>
  </div>
  <div class="toolbar-options">
    <button mat-icon-button  *ngIf="(toolbarService.currentOptions$ | async)?.buttons?.length !== 0" [matMenuTriggerFor]="menu" aria-label="App options">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button *ngFor="let button of (toolbarService.currentOptions$ | async)?.buttons"
      (click)="optionClick(button)"
      mat-menu-item>
        <mat-icon>{{ button.icon }}</mat-icon>
        <span>{{ button.label }}</span>
      </button>
      <button [routerLink]="['/', 'status']" mat-menu-item>
        <mat-icon>bug_report</mat-icon>
        <span>Debug info</span>
      </button>
    </mat-menu>
    <!-- <button mat-button (click)="optionClick(button)" *ngFor="let button of (toolbarService.currentOptions$ | async)?.buttons"><mat-icon>save</mat-icon>{{button.label}}</button> -->
  </div>
</mat-toolbar>
